$red: #c91919;
$white: rgb(252, 251, 246);
$dark-brown: #0e0303;
$brown: #1b0e0e;
$light-brown: #2b1f1f;
$brown-transparent: rgba(43, 31, 31, 0.4);
$light-grey: rgb(197, 197, 197);
$grey: rgb(172, 172, 172);
$shadow-top: linear-gradient(rgba(14, 3, 3, 0) 80%, #0e0303 100%);
$shadow: linear-gradient(
  #0e0303 0%,
  rgba(14, 3, 3, 0) 20%,
  rgba(14, 3, 3, 0) 80%,
  #0e0303 100%
);
$shadow-end: linear-gradient(#0e0303 0%, rgba(14, 3, 3, 0) 20%);

@mixin header1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}
@mixin header2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}
@mixin main-text {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}
@mixin notes-text {
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
}
@mixin notes-it {
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  font-style: italic;
}

@mixin disp-grid($repeat) {
  display: grid;
  grid-template-columns: repeat($repeat, 1fr);
  column-gap: 20px;
}

@mixin disp-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: $dark-brown;
  color: $white;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
}

div.red-line {
  height: 60px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  background-color: $red;
  overflow: hidden;

  p {
    @include disp-flex(auto, auto, center);
    width: 100%;
    height: 100%;
    white-space: nowrap;
  }

  .line {
    display: inline-block;
    animation: scrolling-left1 60s linear infinite;
  }

  .line2 {
    display: inline-block;
    animation: scrolling-left2 60s linear infinite;
    animation-delay: -30s;
  }
  /* scrolling-left is continuous/repeatly text */
  @keyframes scrolling-left1 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes scrolling-left2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  span.item {
    margin-right: 24px;
  }
}

header {
  width: 100%;
  height: fit-content;
  nav {
    @include disp-flex(column, center, center);
    height: auto;
    width: auto;
    position: fixed;
    right: 0;
    z-index: 2;
    background: none;
    opacity: 1;
    transition: all 200ms ease-in;

    &.header {
      width: 100%;
      background-color: $brown-transparent;

      ul {
        display: none;
      }
    }

    &.active {
      width: 100%;
      ul {
        display: block;
        opacity: 0;

        li {
          display: block;
        }
      }
    }

    .menu-btn {
      display: block;
      align-self: flex-end;
      padding-inline: 12px;
      font-size: 24px;
      line-height: 56px;
      text-align: right;
      background: none;
      color: $white;
      border: none;
    }

    ul {
      display: none;
      width: 100%;
      margin-bottom: 24px;
      transition: all 200ms ease-in;

      li {
        width: 100%;
        margin: 24px 0;
        text-align: center;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        color: $white;
      }
    }

    &.visible {
      background-color: $brown;
      ul {
        opacity: 1;
      }
    }
  }

  .img-wrapper {
    width: 100%;
    height: 120vh;
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

section {
  width: 100%;
  min-height: auto;
  margin: 0 auto;
  margin-top: 200px;
  padding: 32px;
}

.main-grid {
  @include disp-grid(4);
}

.promo {
  @include disp-flex(column, center, center);
  height: 100vh;
  text-align: center;

  img {
    width: 280px;
    margin-block: 48px;
  }

  h1 {
    @include header1;
    margin-bottom: 24px;
  }

  p {
    @include header2;
  }

  .listen-icons {
    @include header2;
    display: block;

    p {
      margin-bottom: 24px;
      margin-right: 0;
    }

    ul {
      display: flex;

      li {
        margin-right: 48px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.about {
  p {
    @include main-text;
    @include disp-flex(auto, auto, center);
    grid-column: 1/5;
    line-height: 32px;
  }
}

.members {
  .wrapper {
    @include disp-flex(auto, auto, center);
    grid-column: 1/5;

    ul {
      display: block;
      width: 100%;
      height: fit-content;

      li {
        height: fit-content;

        h2 {
          @include header2;
          margin-bottom: 12px;
        }

        p {
          @include notes-it;
          height: 40px;
          margin-bottom: 36px;
        }

        &:last-of-type p {
          margin-bottom: 0;
        }
      }
    }
  }

  .profile-wrapper {
    display: none;
  }
}

.music {
  .album-info {
    display: none;
  }

  .wrapper {
    grid-column: 1/5;

    h2 {
      @include header2;
      margin-bottom: 44px;
      margin-top: 92px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    ul {
      &.albums {
        max-height: 330px;
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
          margin-block: 24px;
        }
      }
    }

    .albums-list-wrapper {
      position: relative;

      .album-type {
        text-transform: lowercase;
      }
    }

    .album-shadow {
      width: calc(100% - 8px);
      height: 332px;
      position: absolute;
      top: -1px;
      background: $shadow;
      transition: all 300ms ease-in-out;
      pointer-events: none;

      &.top {
        background: $shadow-top;
      }

      &.end {
        background: $shadow-end;
      }
    }

    li {
      @include main-text;
      margin-bottom: 24px;

      &:first-of-type {
        padding-top: 24px;
      }

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 24px;
      }
      span {
        pointer-events: none;
      }
      span.album-type {
        @include notes-it;
        display: block;
        margin-top: 8px;
      }
    }
  }
}

.events {
  .wrapper {
    @include disp-flex(column, center, auto);
    grid-column: 1/5;

    h2 {
      @include header2;
      margin-bottom: 44px;
    }

    ul {
      width: 100%;

      li {
        @include main-text;
        @include disp-grid(6);
        margin-bottom: 24px;

        span:nth-of-type(1) {
          grid-column: 1/3;
          margin-bottom: 8px;
        }

        span:nth-of-type(2) {
          grid-column: 3/7;
        }
        span:nth-of-type(3) {
          grid-column: 1/7;
        }
      }
    }
  }
}

.media {
  .wrapper {
    @include disp-flex(auto, auto, center);
    grid-column: 1/5;

    ul {
      @include header2;
      width: 100%;
      height: fit-content;

      li {
        margin-bottom: 44px;
      }
    }
  }
}

.rotated-text {
  grid-column: 1/5;
  margin-bottom: 112px;
  font-size: 56px;
  line-height: 56px;
  font-weight: 600;
  white-space: nowrap;

  span {
    color: $red;
  }
}

.profile-phone {
  @include disp-flex(auto, center, center);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: $dark-brown;
  transition: all 300ms ease-in-out;

  .wrapper {
    @include disp-flex(column, auto, auto);
    color: $red;
    width: 90%;
    max-width: 500px;
    max-height: 85vh;
    padding: 24px;
    overflow-y: overlay;
    background-color: $white;

    img {
      width: 100%;
      margin-block: 24px;
    }

    header {
      @include disp-flex(auto, space-between, auto);
      .cross {
        font-size: 48px;
        line-height: 32px;
        cursor: pointer;
      }

      h2 {
        @include header2;
      }
    }
    ul {
      display: block;
      margin-block: 12px;
    }
    li {
      @include disp-grid(5);
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
      span.desc {
        @include notes-text;
        grid-column: 1/3;
      }

      span {
        @include main-text;
        grid-column: 3/6;
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: $light-grey;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey;
    }
  }
}

.album-phone {
  @include disp-flex(auto, center, center);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: $dark-brown;
  transition: all 300ms ease-in-out;

  .wrapper {
    @include disp-flex(column, auto, auto);
    color: $red;
    width: 90%;
    max-width: 500px;
    max-height: 85vh;
    padding: 24px;
    overflow-y: overlay;
    background-color: $white;

    img {
      width: 100%;
      margin-block: 24px;
    }
    header {
      @include disp-flex(auto, space-between, flex-end);

      p {
        display: block;
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
        font-style: italic;
      }

      .cross {
        line-height: 28px;
        font-size: 48px;
        font-style: normal;
        cursor: pointer;
      }
    }

    h3 {
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
      margin-top: 8px;
    }

    ul li {
      @include disp-grid(2);
      @include main-text;
      margin-bottom: 8px;
    }

    p.tracklist {
      @include main-text;
      text-align: center;
      font-weight: 400;
      margin-block: 12px;
    }

    ol {
      @include main-text;
      width: 100%;
      list-style: none;
      line-height: 24px;

      li {
        margin-bottom: 8px;
      }

      span {
        display: inline-block;
        width: 30px;
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: $light-grey;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey;
    }
  }
}

.hidden {
  opacity: 0;
}

.d-hidden {
  display: none !important;
}

.scroll {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $dark-brown;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark-brown;
    border-radius: 10px;
  }
}

@media (min-width: 700px) {
  header {
    nav {
      width: 48px;
      height: 56px;

      .menu-btn {
        position: absolute;
        right: 0;
      }

      &.header {
        ul {
          display: flex;
        }
      }

      ul {
        width: auto;
        margin: 0;

        li {
          margin-inline: 24px;

          a {
            font-size: 20px;
          }
        }
      }

      &.active {
        ul {
          display: flex;
          opacity: 0;
        }
      }
      &.visible {
        background-color: $brown;
        ul {
          opacity: 1;
        }
      }
    }
  }
  section {
    min-height: min(100vh, 1200px);
    margin-top: 200px;
    padding: 60px;
  }

  .main-grid {
    @include disp-grid(8);
  }

  .about p {
    grid-column: 4/9;
  }

  .members .wrapper {
    grid-column: 4/9;

    ul {
      display: block;
      margin-top: 92px;
    }
  }

  .music .wrapper {
    grid-column: 5/9;

    h2:first-of-type {
      margin-top: 92px;
    }
  }

  .events .wrapper {
    grid-column: 4/9;

    ul li {
      margin-bottom: 24px;

      span:nth-of-type(1) {
        grid-column: 1/2;
      }

      span:nth-of-type(2) {
        grid-column: 2/4;
      }
      span:nth-of-type(3) {
        grid-column: 4/7;
      }
    }
  }

  .media .wrapper {
    grid-column: 4/9;

    ul {
      @include disp-grid(2);
    }
  }

  .rotated-text {
    grid-column: 1/3;
    font-size: 100px;
    line-height: 100px;
    font-weight: 600;
    white-space: nowrap;
    transform-origin: top left;
    transform: rotateZ(90deg) translateY(-100px);

    span {
      color: $red;
    }
  }
}

@media (min-width: 1200px) {
  section {
    max-width: 1200px;
  }

  .main-grid {
    @include disp-grid(12);
  }

  .promo {
    .listen-icons {
      display: flex;

      p {
        margin-bottom: 0;
        margin-right: 80px;
      }
    }
  }
  .about p {
    grid-column: 5/12;
  }
  .members {
    .wrapper {
      grid-column: 6/12;
      transition: all 150ms ease-in-out;

      ul {
        @include disp-grid(2);
        margin: 0;
      }
    }

    .profile-wrapper {
      grid-column: 3/13;
      align-self: center;
      display: block;
      transition: all 300ms ease-in-out;

      .profile {
        @include disp-grid(10);
        height: fit-content;
        position: relative;

        .cross {
          font-size: 40px;
          line-height: 20px;
          font-weight: 100;
          position: absolute;
          right: 0;
        }

        img {
          grid-column: 1/5;
          width: 100%;
        }

        .wrapper {
          @include disp-flex(column, center, flex-start);

          h2 {
            @include header2;
            margin-bottom: 36px;
          }

          ul {
            display: block;
            width: 100%;
            height: fit-content;

            li {
              @include disp-grid(5);
              margin-bottom: 20px;

              span.desc {
                @include notes-text;
                grid-column: 1/3;
              }

              span {
                @include main-text;
                grid-column: 3/6;
              }
            }
          }
        }
      }
      .profile-nav {
        margin-top: 80px;
        height: fit-content;

        ul {
          @include disp-flex(auto, flex-end, auto);
          width: 100%;

          li {
            margin-right: 32px;
            font-size: 24px;
            line-height: 24px;
            font-weight: 500;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .music {
    .album-info {
      grid-column: 3/6;
      display: block;
      width: 100%;
      transition: all 150ms ease-in;

      img {
        width: 100%;
        margin: 60px 0 40px;
      }

      ul {
        li {
          display: flex;
          margin-bottom: 8px;

          span {
            @include main-text;

            flex: 1;
          }
          span.desc {
            @include notes-text;
          }
        }
      }

      button {
        @include notes-text;
        width: 100%;
        margin-block: 16px;
        text-decoration: underline;
        border: none;
        background: none;
        color: $white;
        transition: all 150ms ease-in;
      }

      .tracklist-wrapper {
        position: relative;
      }

      ol {
        @include main-text;
        list-style: none;
        max-height: 200px;
        line-height: 24px;
        overflow-y: scroll;
        transition: all 150ms ease-in-out;

        li {
          margin-bottom: 8px;
        }

        span {
          display: inline-block;
          width: 30px;
        }
      }

      .tracklist-shadow {
        width: calc(100% - 8px);
        height: 204px;
        position: absolute;
        top: -1px;
        background: $shadow;
        transition: all 150ms ease-in-out;
        pointer-events: none;

        &.top {
          background: $shadow-top;
        }

        &.end {
          background: $shadow-end;
        }
      }
    }

    .wrapper {
      grid-column: 7/12;

      h2 {
        margin-top: 92px;
      }
    }
  }

  .events {
    .wrapper {
      grid-column: 6/12;
    }
  }

  .media {
    .wrapper {
      grid-column: 5/11;

      ul {
        @include disp-grid(3);

        li {
          margin-bottom: 72px;
        }
      }
    }
  }

  .active {
    color: $red;
  }
}

@media (min-width: 650px) and (max-height: 650px) {
  .about p {
    margin-top: 92px;
  }

  .events .wrapper {
    margin-top: 92px;
  }

  .media .wrapper {
    margin-top: 92px;
  }
}

@media (hover: hover) {
  header {
    nav {
      flex-direction: row;
      width: 100%;
      height: 56px;
      opacity: 0;
      background-color: $brown;

      &.header {
        background-color: $brown-transparent;
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }

      ul {
        display: flex;
      }
    }

    .menu-btn {
      display: none !important;
    }
  }

  a {
    transition: all 150ms ease-in;

    &:hover {
      color: $red;
    }
  }

  .scroll {
    &:hover {
      &::-webkit-scrollbar-track {
        background-color: $brown;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $light-brown;

        &:hover {
          background-color: $white;
        }
      }
    }
  }

  .members {
    .wrapper ul li {
      h2 {
        transition: all 150ms ease-in;

        &:hover {
          color: $red;
          cursor: pointer;
        }
      }
    }
    .profile-wrapper {
      .profile .cross:hover {
        color: $red;
        cursor: pointer;
        transition: all 150ms ease-in;
      }

      .profile-nav ul li {
        transition: all 150ms ease-in;

        &:hover {
          color: $red;
          cursor: pointer;
        }
      }
    }
  }

  .music {
    .wrapper ul.albums li {
      transition: all 150ms ease-in;

      &:hover {
        color: $red;
        cursor: pointer;
      }
    }

    .album-info button:hover {
      color: $red;
      cursor: pointer;
    }
  }
}
